---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Experience from "../sections/Experience.astro"
import Proyectos from "../sections/Proyectos.astro"
import SobreMi from '../sections/SobreMi.astro';
---

<Layout
	title="Porfolio de Kennedy - Desarrollador web con 3 años de experiencia"
	description="TODO"
>
	<main class="space-y-20 flex flex-col w-full">
		<Hero />

		<section id="experiencia">
			<Experience />
		</section>

		<section id="proyectos">
			<Proyectos />
		</section>

		<section id="sobre-mi">
			<SobreMi />
		</section>
	</main>
</Layout>
