---
const personalImageAlt = "Kennedy Almonte Polanco";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row my-12"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 md:w-[50%]"
  >
    <p>
      Mi nombre es <span class="text-blue-600 dark:text-blue-500"
        >Kennedy Almonte Polanco</span
      >. Estudié Ingeniería Civil, pero hace unos cuatro años comencé a estudiar
      programación. Durante este tiempo, he trabajado como desarrollador full
      stack, lo que me ha permitido adquirir una amplia gama de habilidades y
      conocimientos.
    </p>
    <p>
      He tomado cursos en la plataforma de Platzi y actualmente sigo acumulando
      conocimientos de Midudev, Fazt, Josh Tried Coding, entre otros.
      Aprendiendo de la comunidad, con el objetivo de aportar valor a cada
      proyecto en el que participo y adoptar las mejores prácticas <span
        class="text-blue-600 dark:text-blue-500"
        >para entregar productos de calidad y confiables</span
      >.
    </p>
    <p>
      Estoy siempre dispuesto y disponible para seguir aprendiendo, <span
        class="text-blue-600 dark:text-blue-500"
        >comprometido a entregar lo mejor de mí en cada proyecto</span
      >. Mi dedicación y pasión por el conocimiento me impulsan a ser un mejor
      yo.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl border-zinc-300 border-l-[6px] border-t-[4px] border-r-[3px] border-b-[1px]"
  />
</article>
