---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<li class="md:flex-1">
  <div
    class="flex flex-col justify-center items-center space-y-2 border-l-4 border-zinc-300 py-2 pl-2 md:border-l-2 md:pb-0 md:pl-4"
  >
    <h2
      class="text-4xl font-extrabold text-amber-400 dark:text-amber-300/90 tracking-wide"
    >
      {title}
    </h2>
    <p class="md:text-sm text-xs uppercase dark:text-gray-200 tracking-wide">
      {description}
    </p>
  </div>
</li>
