---
import Calendar from './icons/Calendar.astro';
---

<ol
  class="border-l-2 dark:border-l border-gray-900/10 dark:border-zinc-300"
>
  <li>
    <div class="flex-start md:flex">
      <div
        class="-ml-[26px] flex h-[50px] w-[50px] items-center justify-center rounded-full backdrop-blur bg-white/50 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-2 ring-inset ring-gray-900/10 dark:ring-gray-900/5 "
      >
        <Calendar />
      </div>
      <div
        class="mb-10 ml-6 block max-w-md p-6 shadow-md shadow-black/5 dark:shadow-black/10 rounded-xl bg-gray-900/5 dark:bg-gray-900 dark:border dark:border-zinc-300 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-900/5"
      >
        <div class="mb-4 flex justify-between">
          <p class="text-xl dark:text-gray-200">
            <span class="text-blue-600 dark:text-blue-500 ">Full Stack</span
            > en Pablo San
          </p>
          <p class="text-xl dark:text-gray-200">Actualmente...</p>
        </div>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          El proyecto <span
            class="text-amber-600 dark:text-amber-300 font-medium"
            >Pablo San</span
          > representa un ejemplo destacado de mi capacidad para liderar y ejecutar
          <span class="text-blue-600 dark:text-blue-500 font-medium"
            >proyectos full stack
          </span>de manera efectiva.
        </p>
        <p class="mb-6 text-gray-600 dark:text-neutral-200 tracking-wide">
          Me enorgullece el resultado final que logré y estoy emocionado por las <span
            class="text-blue-600 dark:text-blue-500 font-medium"
            >futuras oportunidades</span
          > de colaboración y desarrollo.
        </p>
      </div>
    </div>
  </li>
</ol>
