---
const PROJECTS = [
  {
    title: 'Pablo San - Administrador de prestamos personales',
    description: 'Administrado de prestamos, donde cada el cliente tiene la facilidad de consultar el estado de prestamo',
    link: 'https://pablosan.com',
    github: '',
    image: '/pablosan.png',
    tags: []
  }
]
---
<div>

</div>