---
import AboutMe from '../components/AboutMe.astro';
---

<>
  <div class="mt-2 sm:mt-8 mb-3 px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2
        class="font-bold text-3xl text-gray-900 sm:text-5xl dark:text-gray-200"
      >
        Sobre <span class="text-blue-600">mí</span>
      </h2>
    </div>
  </div>

  <div class="mx-auto max-w-6xl px-6 flex justify-center">
    <AboutMe />
  </div>
</>
